.custom-font-title {
    color: #c44569;
}

.custom-cursor {
    transition: .5s;
}

.custom-cursor:hover {
    cursor: pointer;
    color: white;
    background-color: #c44569;
    font-weight: bold;
    border-radius: 5px;
    transition: .5s;
}

.custom-bg-navbar {
    background-color: #cf6a87;
}

.customer-bg-footer {
    background-color: #2d3436;
}

.custom-bg-nav-item {
    background-color: #c44569;
}
