/* CSS TIMELINE */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/* ================================= */


.custom-font-title {
    font-size: 20px;
    color: black !important;
}

.custom-font-title-u {
    text-decoration: none !important;
    cursor: default;
}

.custom-font {
    font-size: 16px;
    color: black !important;
}

.custom-font-icon {
    font-size: 50px;
}

.custom-color-font {
    color: #F9B530;
}

.custom-font-color-nav {
    color: #F9B530 !important;
}

.custom-radius {
    border-radius: 20px;
}

.custom-cursor:hover {
    cursor: pointer;
    color: #F9B530 !important;
    transition: .5s;
}

.custom-bg {
    background-color: #F9B530 !important;
}

.custom-bg-orange {
    background-image: linear-gradient(to right, #F9B530 , #ffd98e);
}

.custom-card {
    width: 18rem;
}
